.arrow,
.arrowUp {
  position: absolute;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  bottom: 6.25%;
  right: 5%;
  mask-image: url("../../../../assets/circle-down.svg");
  mask-size: 80px;
  mask-repeat: no-repeat;
  background-color: white;
}
.arrowUp {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (max-width: 600px) {
  .arrow,
  .arrowUp {
    mask-size: 65px;
    bottom: 2.5%;
  }
}
@media (max-height: 450px) {
  .arrow {
    bottom: -100%;
  }
}
