.arrow,
.arrowUp {
  position: absolute;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  bottom: 5.25%;
  right: 5%;
  filter: brightness(0) invert(1);
  transition: transform 0.25s ease;
}
.arrow:hover {
  transform: scale(1.05);
}
.arrowUp {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.arrowUp:hover {
  transform: scale(1.05) rotate(180deg);
}
@media (max-width: 768px) {
  .arrow,
  .arrowUp {
    width: 4rem;
    height: 4rem;
    bottom: 2.5%;
  }
}
