.form__section {
  display: flex;

  background-image: url("../../assets/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: 100%;
  padding: 15rem 0;
  position: relative;
}
.gif {
  width: 50%;
}
.form {
  width: 38%;
  max-height: 2000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(9, 9, 9, 0.5);
  border-radius: 40px;
  padding: 1rem;
}
.form h3 {
  font-size: 3rem;
  color: white;
  margin: 2rem 0;
  text-align: center;
  font-weight: 400;
}
.form input {
  margin: 0.8rem 0;
  font-family: "Merienda One";
  border-radius: 40px;
  padding: 15px;
  background-color: white;
}
.form-inputs {
  display: flex;
  flex-direction: column;
}
.form textarea {
  background-color: white;
  width: 340px;
  height: 150px !important;
  font-family: "Merienda One";
  font-size: 1rem;
}
.form-inputs label {
  padding: 0.6rem;
}
.form__send {
  display: flex;
  justify-content: flex-end;
}
.btn-correct {
  width: 180px;
  height: 40px;
  cursor: pointer;
}
.scroll {
  width: 5rem;
  height: 5rem;
  position: absolute;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  mask-image: url("../../assets/circle-down.svg");
  transform: rotate(180deg);
  mask-size: 80px;
  background-color: white;
  mask-repeat: no-repeat;
  position: absolute;
}
@media (max-width: 1020px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
  }
  .form__section {
    flex-direction: column;
  }
  .form textarea {
    width: 260px;
  }
}
@media (max-width: 600px) {
  .form__section {
    padding: 15rem 0rem;
  }
  .form {
    width: 100%;
  }
  .scroll {
    mask-size: 65px;
  }
}
@media (max-width: 320px) {
  .form textarea {
    width: 200px;
  }
  .form input {
    width: 200px;
  }
}
