.form__section {
  display: flex;

  background-image: url("../../assets/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: 100%;
  padding: 30rem 0;
}
.gif {
  width: 50%;
}
.form {
  width: 38%;
  max-height: 2000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(9, 9, 9, 0.5);
  border-radius: 40px;
}
.form h3 {
  font-size: 3rem;
  color: white;
  margin: 2rem 0;
  text-align: center;
  font-weight: 400;
}
.form input {
  width: 250px;
  height: 50px;
  margin: 0.25rem 0;
  font-family: "Merienda One";
  border-radius: 40px;
  border: 0;
  padding: 20px;
  border: 1px solid rgb(160, 160, 160);
}
.form textarea {
  width: 360px;
  height: 150px;
  margin: 1rem 0;
  font-family: "Merienda One";
  font-size: 1.2rem;
  border-radius: 40px;
  border: 0;
  padding: 25px;
  border: 1px solid rgb(160, 160, 160);
}
.form__send {
  display: flex;
  justify-content: flex-end;
}
.btn-correct {
  width: 200px;
  height: 40px;
  cursor: pointer;
  margin: 1rem 0;
  font-family: "Merienda One";
  border-radius: 30px;
  background: #04bb00;
  border: 0;
}
@media (max-width: 1020px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .form__section {
    flex-direction: column;
  }
  .form textarea {
    width: 260px;
  }
}
@media (max-width: 600px) {
  .form__section {
    padding: 15rem 0rem;
  }
}
@media (max-width: 320px) {
  .form textarea {
    width: 200px;
  }
  .form input {
    width: 200px;
  }
}
