.form__section {
  background-image: url("../../../assets/bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
  padding: 12.5rem 0;
  position: relative;
}
.gif {
  width: 50%;
}
.form {
  align-items: center;
  background: rgba(9, 9, 9, 0.5);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 45.5%;
  padding: 1.5rem;
}
.form h3 {
  color: white;
  font-size: 3rem;
  font-weight: 400;
  margin: 2rem 0;
  text-align: center;
}
.form input {
  background-color: white;
  border-radius: 40px;
  font-family: "Merienda One";
  font-size: 0.8rem;
  margin: 0.6rem;
  padding: 1rem;
}
.form-inputs {
  display: flex;
  flex-direction: column;
}
.form textarea {
  background-color: white;
  border-radius: 10px;
  font-family: "Merienda One";
  font-size: 1rem;
  height: 150px !important;
  width: 340px;
}
.form-inputs label {
  padding: 0.4rem 0.8rem;
}
.form__send {
  display: flex;
  justify-content: flex-end;
}
.btn-correct {
  cursor: pointer;
  height: 2.5rem;
  width: 7rem;
}
@media (min-width: 1440px) {
  .form {
    min-width: 40%;
  }
}
@media (max-width: 1020px) {
  .form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 90%;
  }
  .form__section {
    flex-direction: column;
  }
  .form textarea {
    width: 260px;
  }
  .form h3 {
    font-size: 2.8rem;
  }
}
@media (max-width: 600px) {
  .form__section {
    padding: 15rem 0rem;
  }
  .form {
    width: 100%;
  }
  .form h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 320px) {
  .form textarea {
    width: 225px;
  }
  .form input {
    width: 200px;
  }
}
