.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background: #454545;
  width: 20rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  margin: 1rem;
  border-radius: 6px;
}
.card__img,
.full-card__img {
  display: block;
  width: 18rem;
  height: 16rem;
  background: #494949;
  margin: 1rem;
  border-radius: 0.3rem;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.05);
  object-fit: cover;
}
.card__title {
  text-align: center;
  font-family: "Merienda One";
  font-weight: 400;
  color: white;
}
.card__article {
  margin: 0 1rem;
}
.card__date {
  display: block;
  font-size: 0.8rem;
  text-align: center;
  color: rgba(136, 136, 136, 0.9);
}
.card__description {
  margin: 0.5rem 1rem;
  color: rgba(204, 204, 204, 0.9);
  text-align: center;
  font-size: 0.875rem;
}
.full-card {
  width: 80%;
  display: flex;
  margin: 5rem;
  padding: 5rem 0;
  background: #454545;
}
.full-card__article {
  padding-top: 5rem;
}
@media (max-width: 700px) {
  .full-card {
    display: block;
    margin: auto;
    width: 100%;
    padding: 10rem 0;
  }
  .full-card__img {
    width: 90%;
  }
}
