.App {
  height: 100%;
}
.App-container {
  max-width: 1920px;
  margin: auto;
}
.App-header {
  background-image: url("../../../assets/bg_house.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
