.slider {
  position: relative;
  width: 70%;
  height: 20rem;
  z-index: 1;
  margin-top: 22.5rem;
  object-fit: cover;
  overflow: hidden;
  box-shadow: 50px 45px 70px rgba(0, 0, 0, 0.8);
}
.slider img {
  width: 100%;
  object-fit: cover;
  height: 20rem;
  animation: slide-in 0.4s ease-in-out;
  background: center / cover no-repeat;
}
@media (max-width: 1440px) {
  .slider {
    width: 80%;
    margin-top: 28rem;
  }
}
@media (max-width: 1200px) {
  .slider {
    width: 90%;
    margin-top: 28rem;
  }
}
@media (max-width: 600px) {
  .slider {
    width: 90%;
    border-radius: 12.5px;
    margin-top: 35.5rem;
  }
}
@media (max-width: 320px) {
  .slider {
    margin-top: 36rem;
  }
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
