.slider {
  margin-top: 22.5rem;
  width: 60%;
  height: 20rem;
  overflow: hidden;
  z-index: 1;
  object-fit: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.4s;
}
@media (max-width: 1200px) {
  .slider {
    width: 90%;
    margin-top: 28rem;
  }
}
@media (max-width: 600px) {
  .slider {
    width: 100%;
    margin-top: 32.5rem;
  }
}
@media (max-width: 320px) {
  .slider {
    margin-top: 36rem;
  }
}
