.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.25rem;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.nav a {
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.015rem;
  position: relative;
  padding: 15px 20px;
  margin: 0 1.5rem;
  font-family: "Changa One", cursive;
}
.nav .nav-link::after {
  position: absolute;
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav .nav-link:hover::after {
  width: 100%;
  left: 0;
}
.nav ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}
.nav-title {
  display: flex;
  align-items: center;
}
.nav-title a {
  font-size: 1.8rem;
  margin-right: auto;
  color: #fff;
  font-weight: 400;
  font-family: "Merienda One", "cursive";
  font-weight: 400;
}
.nav-title__artist {
  opacity: 90%;
}
.nav-items {
  display: flex;
  margin: 0 1.5rem;
}
.nav-item {
  font-family: "Changa One", cursive;
  font-size: 1.5rem;
  margin-right: 5rem;
  margin: auto;
}
.nav-logo {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  border-radius: 15px;
  border: 4px solid rgba(255, 255, 255, 0.3);
}
.nav-circle {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: #474747;
}
.nav-language {
  width: 6rem;
  height: 3rem;
  color: white;
  border: 4px solid rgba(255, 255, 255, 0.3);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.46);
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem 0;
  cursor: pointer;
}
.mobile-nav {
  display: none;
  padding: 0 0.5rem;
  font-family: "Changa One", cursive;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: #393939;
  text-align: center;
}
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  text-align: center;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}
.menu {
  display: none;
  width: 270px;
  height: 20px;
  background: rgba(41, 41, 41, 0.95);
  border-radius: 30px;
  padding: 20rem 0;
  transform: translateX(-100%);
}
.menu-active {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 300px;
  height: 200px;
  background: rgba(41, 41, 41, 0.92);
  border-radius: 0px 0px 0px 30px;
  padding: 13rem 0rem 11.5rem 0rem;
  transform: translateX(0);
  box-shadow: -10px 10px 7px rgba(0, 0, 0, 0.25);
}

.menu-active a > img {
  width: 3rem;
}
.menu-active .link::after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: none repeat scroll 0 0 transparent;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.menu-active .link:hover::after {
  width: 90%;
  left: 0;
}
.menu__icons {
  margin-top: 1rem;
}
.overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
  transition: all 0.3s;
}
@media (max-width: 1100px) {
  .nav-title {
    white-space: nowrap;
  }
  .nav-title a {
    margin: auto;
  }
}
@media (max-width: 1025px) {
  .nav-items {
    margin: 0;
  }
  .nav-item {
    display: flex;
    margin: auto;
  }
  .nav-title a {
    margin: 0;
  }
  .nav-language {
    margin-right: 1rem;
  }
}
@media (max-width: 968px) {
  .nav-title {
    display: none;
    visibility: hidden;
  }
  .nav-item {
    display: none;
    visibility: hidden;
  }
  .mobile-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .nav a {
    font-size: 1.75rem;
    margin: 0rem;
  }
  .menu-burger {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
  }
  .mobile-nav a {
    margin: 0rem;
  }
  .nav ul {
    display: block;
  }
  .menu-active a > img {
    border-radius: 1.25rem;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
  }
}
@media (max-height: 600px) {
  .nav-title {
    font-size: 1.2rem;
    white-space: nowrap;
  }
}
