.section__skils {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../assets/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 12.5rem 0;
}
.section__skils h2 {
  font-size: 3.6rem;
  color: white;
  margin: 2rem 0;
}
.section__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 60%;
  height: 75%;
  padding: 4.5rem 0;
  background: rgba(28, 28, 28, 0.8);
  border-radius: 20px;
}
.section__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #d9d9d9;
  text-align: center;
}
.section__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  white-space: nowrap;
}
.section__title {
  margin: 1rem;
  text-align: center;
}
@media (max-width: 1600px) {
  .section__grid {
    width: 80%;
  }
}
@media (max-width: 1020px) {
  .section__grid {
    width: 90%;
  }
  .section__skils {
    height: 100%;
  }
}
@media (max-width: 800px) {
  .section__card:last-child {
    grid-column: 2;
  }
}
@media (max-width: 600px) {
  .section__skils {
    padding: 10rem 0rem;
  }
  .section__grid {
    width: 100%;
  }
  .section__skils {
    border-radius: 0px;
  }
}
@media (max-width: 400px) {
  .section__grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    border-radius: 0;
  }
  .section__skils {
    font-size: 0.9rem;
  }
}
@media (max-width: 310px) {
  .section__skils {
    font-size: 0.75rem;
  }
}
