.section__art {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("../../../assets/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 12.5rem 0;
}
.section__art h3 {
  font-size: 3.8rem;
  color: white;
  margin: 2rem 0;
}
.section__block {
  position: absolute;
  right: 65%;
  top: 10%;
  width: 32%;
  height: 55%;
  background: rgba(40, 40, 40, 0.7);
  border-radius: 20px;
  z-index: 1;
  padding: 4rem 0.5rem;
}
.section__block h4 {
  font-size: 2.65rem;
  text-align: center;
  color: white;
  font-weight: 400;
  margin: 0 2.5rem;
}
.section__more {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}
.section__block p {
  padding: 2rem;
  color: #fff;
}
.section__block span {
  text-align: center;
}
.section__block button {
  width: 250px;
  height: 45px;
  background: #867330;
  border-radius: 20px;
  border: 0;
  font-family: "Changa One";
  margin: auto;
  font-size: 1.5rem;
  color: white;
  margin-top: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.section__block button:hover {
  background: #bd9502;
  opacity: 0.9;
  scale: 1.05;
}
@media (max-width: 1440px) {
  .section__block {
    width: 40%;
    right: 55%;
  }
}
@media (max-width: 1200px) {
  .section__block {
    width: 90%;
    height: 65%;
    top: 25%;
    right: 5%;
  }
}
@media (max-width: 600px) {
  .section__art {
    padding: 10rem 0rem;
  }
  .section__block {
    width: 100%;
    right: 0;
  }
  .section__art h3 {
    font-size: 3rem;
  }
}
@media (max-width: 360px) {
  .section__block {
    font-size: 0.85rem;
  }
  .section__more button {
    width: 220px;
  }
  .section__block {
    margin-top: -2rem;
  }
}
