footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 2.5rem;
  text-align: center;
}
.footer__title {
  font-size: 1.4rem;
  font-weight: 700;
}
.footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1rem;
}
.footer__social a {
  margin-left: 0.5rem;
  color: white;
}
.footer__social a:hover {
  opacity: 0.8;
}
