.App {
  background-image: url("../src/assets/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.container {
  max-width: 1920px;
  margin: auto;
}
