.App {
  height: 100vh;
  background-image: url("../src/assets/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-height: 600px) {
  .App {
    height: 150vh;
  }
}
.container {
  max-width: 1920px;
  margin: auto;
}
