* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Merienda One", cursive;
  scroll-behavior: smooth;
}
/* Scrollbar */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #5c5c5c #c2c2c2;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #c2c2c2;
}

*::-webkit-scrollbar-thumb {
  background-color: #5c5c5c;
  border-radius: 10px;
  border: 0px solid #ffffff;
}
