* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Merienda One", cursive;
  background-image: url("../src/assets/bubble-pattern.webp");
}

/* Scrollbar */

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #5c5c5c #c2c2c2;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #5c5c5c;
  border-radius: 10px;
  border: 0px;
}
